.interface{
    width:80%;
    border: 5px solid black;
    padding: 20px;
    margin: 110px;
    top:-10px;
    background-color: gray;
    color: whitesmoke;
}
h1{
    text-align:center;
}

#recuo{
    text-indent: 50px;
    text-align: justify;
} 

caption{
    text-align: center;
}

th{
    border:1px solid black;
    background-color: rgb(75, 73, 73);
    text-align:center;
    color:whitesmoke;
    min-width:130px;
    max-width: 250px;
}

td{
    border:1px solid black;
    background-color: rgb(75, 73, 73);
    text-align:center;
    color:whitesmoke;
    min-width:130px;
    max-width: 250px;
}

hr{
    border: 3px solid black;
}