@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    margin: 10px;
}

h5 {
    font-size: 18px;
}

.container {
    display: flex;
  }     

.pai-dados{
    width: calc(100% - 700px);
    background-color: lightgray;
    
}

.pai-experiencia {
    width: calc(100% - 400px);
    height: 100%;
    background-color: lightskyblue;
    
}

.filho-dados {
    width: 100%;
    height: 100%; 
}   

.foto {
    flex: 1; /* A logo ocupa todo o espaço disponível */
}

.foto img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 10px;
    display: absolute;
    transform: translateY(0%);
   }

.nome{
    padding-left: 5px;
    text-align: center;
    font-size: 24px;
    color: whitesmoke;
    margin-top: -1300px;
}

.conteudo{
    padding-left: 5px;
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
    margin-top: -1450px;
    padding-bottom: 10px;
}

.conhecimento{
    padding-left: 5px;
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
    margin-top: -1460px;
    padding-bottom: 20px;
}

.celular{
    padding-left: 5px;
    font-size: 18px;
    margin-top: -1650px;
    text-align: center;
    color: whitesmoke;
}

.email{
    padding-left: 5px;
    font-size: 18px;
    margin-top: -1800px;
    text-align: center;
    color: whitesmoke;
}

.lista-profissional {
    text-align: center;
    color: whitesmoke;
    font-size: 18px;
}

.item-lista{
    list-style: none;
    margin-top: -1700px;
    padding-bottom: 1750px;
}

.rodape-final{
    text-align: center;
    color: whitesmoke;
    font-size: 18px;
    margin-top: -900px;
    padding-bottom: 50px;
}

.rodape-button {
    color: rgb(35, 65, 145);
    border-radius: 100%;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-top: -1400px;
}

.icone {
    border-color: rgb(35, 65, 145);
    border-radius: 100%;
    height: 33px;
    padding: 5px 5px 5px 5px;
}

.item {
    list-style: none;
    padding: 3px;
    font-size: 14px;
    color: whitesmoke;
    text-align: justify;
}

.item::before {
    content: "★ ";
    margin-left: -15px;
    padding: 5px;
    font-size: 14px;
    color: whitesmoke;
}

svg {
    color: #006298;
}

strong.filho-experiencia.historico-profissional{
    text-align: center;
    padding-top: 5%;
    margin: 10px 10px 10px 10px;
}

strong.filho-experiencia.cursos{
    margin: 10px 10px 10px 10px;
}

strong.filho-experiencia.prof-idiomas{
    margin: 10px 10px 10px 10px;
}

h4{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
    padding: 5%;
}


h2 strong{
    margin-left: 180px;
    margin-right: 5px;
    text-align: center;
    font-size: 22px;
    color: whitesmoke;
}

h3{
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
}