@charset "UTF-8";

* {
    box-sizing: border-box;
}

html,
body {
    padding: 20px 20px 20px 20px;
    width: 100%;
}

h5 {
    font-size: 18px;
}

.pai-dados{
    width: 50%;
    height: 1800px;
    display: flex;
    flex-wrap: wrap;
    background-color: #006298;
    /* text-align: center; */
}

.pai-experiencia {
    margin-top: -1800px;
    margin-left: 50%;
    width: 50%;
    height: 1800px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}

.filho-dados {
    width: 100%;
    height: 100%; 
}   

.foto img{
    width: 40%;
    height: 14%;
    border-radius: 100%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 60px;
    margin-bottom: 80px;
    display: block;
    transform: translateY(0%);
}

.nome{
    padding-left: 5px;
    text-align: center;
    font-size: 24px;
    color: whitesmoke;
    margin-top: -1420px;
}

.conteudo{
    padding-left: 5px;
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
    margin-top: -1750px;
    padding-bottom: 10px;
}

.celular{
    padding-left: 5px;
    font-size: 18px;
    margin-top: -1550px;
    text-align: center;
    color: whitesmoke;
}

.email{
    padding-left: 5px;
    font-size: 18px;
    margin-top: -1750px;
    text-align: center;
    color: whitesmoke;
}

.lista-profissional {
    text-align: center;
    color: whitesmoke;
    font-size: 18px;
}

.item-lista{
    list-style: none;
    margin-top: -1700px;
    padding-bottom: 1750px;
}

.rodape-final{
    text-align: center;
    color: whitesmoke;
    font-size: 18px;
    margin-top: -2850px;
    padding-bottom: 50px;
}

.rodape-button {
    color: rgb(35, 65, 145);
    border-radius: 100%;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-top: -2820px;
}

.icone {
    border-color: rgb(35, 65, 145);
    border-radius: 100%;
    height: 33px;
    padding: 5px 5px 5px 5px;
}

.item {
    list-style: none;
    padding: 3px;
    font-size: 14px;
    color: whitesmoke;
    text-align: justify;
}

.item::before {
    content: "★ ";
    margin-left: -15px;
    padding: 5px;
    font-size: 14px;
    color: whitesmoke;
}

svg {
    color: #006298;
}

strong.filho-experiencia.historico-profissional{
    margin-left: 250px;
    text-align: center;
    padding-top: 5%;
}

strong.filho-experiencia.cursos{
    margin-left: 140px;
}

strong.filho-experiencia.prof-idiomas{
    margin-left: 180px;
}

h4{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
    padding: 5%;
}


h2 strong{
    margin-left: 180px;
    margin-right: 5px;
    text-align: center;
    font-size: 22px;
    color: whitesmoke;
}

h3{
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
}