h1{
    text-align: center;
}

.alinhar{
    margin: 10px;
    text-indent: 80px;
    text-align:justify;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

body{
    border: 6px solid black;
    height: 90%;
    background-color: rgb(123, 123, 128);
    color: whitesmoke;
}


hr{
    border: 2px solid black;
}

.lista1{
    position: relative;
    float: left;
    width: 200px;
    margin: 5px;  

}

.lista2{
    position: relative;
    float: center;
    width: 200px;
    margin: 200px;
    margin-top: -10pt;   

}

.lista3{
    position: relative;
    float: center;
    width: 200px;
    margin: 395px;
    margin-top: -270pt;   

}

.lista4{
    position: relative;
    float: center;
    width: 200px;
    margin: 600px;
    margin-top: -400pt;   

}

h4{
    text-align:left; 
    margin: 23px;
}

ul{
    text-align:left; 

}

main{
    margin-top: -400pt;
}

.tamanho{
    width: 250px;
    border: 3px solid black;
}

.cliente{
    border: 3px solid black;
    width: 980px;
    margin: 60px;
    margin-top: -10pt;
}

.veiculo{
    border: 3px solid black;
    width: 980px;
    margin: 60px;
    margin-top: -20pt;
}

#reset{
    margin-left: 400pt;
 }